/*#2c0130 #f4dbeb*/

* {
  font-family: Croissant One;
  transition-duration: 300ms;
}
a {
  text-decoration: none;
}
body {
  background-color: blue;
}
button {
  border-radius: 20px;
  margin: 0 0 0 1em;
  font-size: 1em;
}
#light button {
  color: #2c0130;
  background-color: #f4dbeb;
  border: solid 0.2em #2c0130;
}
#light button:hover {
  color: #f4dbeb;
  background-color: #2c0130;
}
#dark button {
  color: #f4dbeb;
  background-color: #2c0130;
  border: solid 0.2em #f4dbeb;
}
#dark button:hover {
  color: #2c0130;
  background-color: #f4dbeb;
}
#light {
  color:black;
  background-color: #f4dbeb;
}
#dark {
  color: white;
  background-color: #2c0130;
}
.logo {
  height: 10em;
}
#dark .logo {
  opacity: 60%;
}
#light .logo {
  opacity: 100%;
}
.switch {
  display: flex;
  align-items: center;
  margin: 0 2em;
}
.labelMode {
  margin: 0 0.5em;
}
.text {
  font-family: Croissant One;
}
#light .text {
  color: #2c0130;
}
#dark .text {
  color: #f4dbeb;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 2;
}
#light .header {
  border-bottom: solid 0.25em #2c0130;
}
#dark .header {
  border-bottom: solid 0.25em #f4dbeb;
  background: linear-gradient(to bottom, #2c0130, 85%, #f4dbeb85);
}
.searchInput {
  border-radius: 20px;
  padding: 0.15em 0 0.15em 0.5em;
}
#light .searchInput {
  color:#2c0130;
  border: solid 0.25em #2c0130;
  background-color: #f4dbeb;
}
#light .searchInput:focus {
  background-color: #2c0130;
  color: #f4dbeb;
}
#dark .searchInput {
  color:#f4dbeb;
  border: solid 0.25em #f4dbeb;
  background-color: #2c0130;
}
#dark .searchInput:focus {
  background-color: #f4dbeb;
  color: #2c0130;
}
.textPresent {
  width: 40%;
  height: 30em;
  z-index: 1;
}
.imgParentPresent {
  width: 60%;
  height: 100%;
  z-index: 0;
}
.imgPresent {
  width: 100%;
}
.present {
  position: static;
  z-index: 2;
}
#light .present {
  display: flex;
  align-items: center;
}
#dark .present {
  display: flex;
  align-items: center;
}
.footing {
  display: flex;
  z-index: 2;
}
#light .footing {
  background-color: #f4dbeb;
  border-top: solid 0.25em #2c0130;
}
#dark .footing {
  background-color: #2c0130;
  border-top: solid 0.25em #f4dbeb;
}
.imgLogoGit {
  width: 3em;
  border-radius: 20em;
}
.entryMain {
  z-index: 0;
}
.gradienter {
  position: absolute;
  width: 60%;
  height: 32.5em;
}
#light .gradienter {
  background: linear-gradient(to right, #f4dbeb, transparent);
}
#dark .gradienter {
  background: linear-gradient(to right, #2c0130, transparent);
}
.individualBoxFooter {
  display: flex;
  align-items: center;
}
.textBoxFooter {
  margin-right: 0.5em;
}
.atext {
  font-family: Croissant One;
}
#light .atext {
  color:#2c0130;
  opacity: 100%;
}
#dark .atext {
  color:#f4dbeb;
  opacity: 100%;
}
#light .atext:hover {
  opacity: 60%;
}
#dark .atext:hover {
  opacity: 60%;
}